# Maven - Garder seulement le JAR final
target/*
!target/*.jar

.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs
README.md
docs/
